In [3]:
x=1
for x in range(1,66):
    print(f"hd{x}_total_accounts = hd_total_accounts({x}),")

hd1_total_accounts = hd_total_accounts(1),
hd2_total_accounts = hd_total_accounts(2),
hd3_total_accounts = hd_total_accounts(3),
hd4_total_accounts = hd_total_accounts(4),
hd5_total_accounts = hd_total_accounts(5),
hd6_total_accounts = hd_total_accounts(6),
hd7_total_accounts = hd_total_accounts(7),
hd8_total_accounts = hd_total_accounts(8),
hd9_total_accounts = hd_total_accounts(9),
hd10_total_accounts = hd_total_accounts(10),
hd11_total_accounts = hd_total_accounts(11),
hd12_total_accounts = hd_total_accounts(12),
hd13_total_accounts = hd_total_accounts(13),
hd14_total_accounts = hd_total_accounts(14),
hd15_total_accounts = hd_total_accounts(15),
hd16_total_accounts = hd_total_accounts(16),
hd17_total_accounts = hd_total_accounts(17),
hd18_total_accounts = hd_total_accounts(18),
hd19_total_accounts = hd_total_accounts(19),
hd20_total_accounts = hd_total_accounts(20),
hd21_total_accounts = hd_total_accounts(21),
hd22_total_accounts = hd_total_accounts(22),
hd23_total_accounts = hd_total_accounts(23),
hd24_total_accounts = hd_total_accounts(24),
hd25_total_accounts = hd_total_accounts(25),
hd26_total_accounts = hd_total_accounts(26),
hd27_total_accounts = hd_total_accounts(27),
hd28_total_accounts = hd_total_accounts(28),
hd29_total_accounts = hd_total_accounts(29),
hd30_total_accounts = hd_total_accounts(30),
hd31_total_accounts = hd_total_accounts(31),
hd32_total_accounts = hd_total_accounts(32),
hd33_total_accounts = hd_total_accounts(33),
hd34_total_accounts = hd_total_accounts(34),
hd35_total_accounts = hd_total_accounts(35),
hd36_total_accounts = hd_total_accounts(36),
hd37_total_accounts = hd_total_accounts(37),
hd38_total_accounts = hd_total_accounts(38),
hd39_total_accounts = hd_total_accounts(39),
hd40_total_accounts = hd_total_accounts(40),
hd41_total_accounts = hd_total_accounts(41),
hd42_total_accounts = hd_total_accounts(42),
hd43_total_accounts = hd_total_accounts(43),
hd44_total_accounts = hd_total_accounts(44),
hd45_total_accounts = hd_total_accounts(45),
hd46_total_accounts = hd_total_accounts(46),
hd47_total_accounts = hd_total_accounts(47),
hd48_total_accounts = hd_total_accounts(48),
hd49_total_accounts = hd_total_accounts(49),
hd50_total_accounts = hd_total_accounts(50),
hd51_total_accounts = hd_total_accounts(51),
hd52_total_accounts = hd_total_accounts(52),
hd53_total_accounts = hd_total_accounts(53),
hd54_total_accounts = hd_total_accounts(54),
hd55_total_accounts = hd_total_accounts(55),
hd56_total_accounts = hd_total_accounts(56),
hd57_total_accounts = hd_total_accounts(57),
hd58_total_accounts = hd_total_accounts(58),
hd59_total_accounts = hd_total_accounts(59),
hd60_total_accounts = hd_total_accounts(60),
hd61_total_accounts = hd_total_accounts(61),
hd62_total_accounts = hd_total_accounts(62),
hd63_total_accounts = hd_total_accounts(63),
hd64_total_accounts = hd_total_accounts(64),
hd65_total_accounts = hd_total_accounts(65),

In [73]:
import pandas as pd
data = pd.read_csv('/Users/sethjacobson/Desktop/COLOGOPCL/geocod.io exports/1.16.2020_geocodio_export.csv')
df = pd.DataFrame(data)
df.head()

,Unnamed: 0,userId,firstName,lastName,emailAddress,createDate,dateOfBirth,city,state,county,...,Street,City,State,County,Zip,Country,Source,Congressional District,State Legislative District House,State Legislative District Senate
0,0,2Q9ckMAJjL7sqcamx,John,Hancock,admin@caucusroom.com,2019-06-29 04:27,07/04/1976,Lafayette,CO,BOULDER,...,Diamond Cir,Lafayette,CO,Boulder County,80026.0,US,Boulder,CO2,State House District 12,State Senate District 17
1,1,8LyygB2aaH6kZnaJq,Allen,Fuller,allen@caucusroom.com,2019-07-03 23:41,04/22/1977,Lafayette,CO,BOULDER,...,Brainard Cir,Lafayette,CO,Boulder County,80026.0,US,Boulder,CO2,State House District 12,State Senate District 17
2,2,ZCMaQmQF4x5o6NTQy,Megan,Hanson,megan@caucusroom.com,2019-07-02 23:45,05/15/1989,Golden,CO,JEFFERSON,...,Denver West Dr,Golden,CO,Jefferson County,80401.0,US,Jefferson County,CO7,State House District 24,State Senate District 20
3,3,c2FTzFZxpTbaa2nx8,Matt,Knoedler,matt@caucusroom.com,2019-07-03 14:46,02/12/1975,Golden,CO,JEFFERSON,...,Dogwood Dr,Golden,CO,Jefferson County,80401.0,US,Jefferson County,CO2,State House District 25,State Senate District 16
4,4,XJDsAqrjgos7wdwS8,Kelly,Maher,okmaher@gmail.com,2019-07-08 20:10,03/03/1983,Brighton,CO,ADAMS,...,Downing St,Thornton,CO,Adams County,80602.0,US,Adams,CO6,State House District 34,State Senate District 24

In [74]:
df_co = df['state']=='CO'
df_co_counties = df[df_co]
df_county = df_co_counties['county'].unique()
df_county_list = list(df_county)

In [75]:
list(df_county_list)
print(len(df_county_list))
df_county_list.pop(27)
print(len(df_county_list))

58
57

In [76]:
df_county_list

['BOULDER',
 'JEFFERSON',
 'ADAMS',
 'DENVER',
 'ARAPAHOE',
 'DOUGLAS',
 'PUEBLO',
 'EL PASO',
 'WELD',
 'KIT CARSON',
 'ELBERT',
 'BROOMFIELD',
 'ROUTT',
 'YUMA',
 'MESA',
 'MONTEZUMA',
 'LARIMER',
 'CLEAR CREEK',
 'LA PLATA',
 'TELLER',
 'FREMONT',
 'SUMMIT',
 'RIO BLANCO',
 'CUSTER',
 'HUERFANO',
 'DELTA',
 'PARK',
 'EAGLE',
 'LOGAN',
 'GILPIN',
 'Denver',
 'GARFIELD',
 'BENT',
 'arapahoe',
 'MORGAN',
 'LAS ANIMAS',
 'OTERO',
 'GUNNISON',
 'PITKIN',
 'MONTROSE',
 'GRAND',
 'SAGUACHE',
 'CHAFFEE',
 'douglas',
 'JACKSON',
 'LINCOLN',
 'CONEJOS',
 'WASHINGTON',
 'SAN MIGUEL',
 'SEDGWICK',
 'MINERAL',
 'MOFFAT',
 'Adams',
 'Larimer',
 'Alamosa',
 'Elbert',
 'LAKE']

In [68]:
# df_county_list.sort()
# df_county_list.pop(2)
# df_county_list.pop(13)
# df_county_list.pop(16)
# df_county_list.pop(52)
# df_county_list.pop(52)

'douglas'

In [72]:
df_county_list.pop(2)

'ADAMS'

In [ ]:
df_county_list.pop(13)

In [ ]:
df_county_list.pop(16)

In [ ]:
df_county_list.pop(52)

In [ ]:
df_county_list.pop(52)

In [58]:
df_county_list.pop()

['ADAMS',
 'ARAPAHOE',
 'Adams',
 'BENT',
 'BOULDER',
 'BROOMFIELD',
 'CHAFFEE',
 'CLEAR CREEK',
 'CONEJOS',
 'CUSTER',
 'DELTA',
 'DENVER',
 'DOUGLAS',
 'Denver',
 'EL PASO',
 'ELBERT',
 'Elbert',
 'GARFIELD',
 'GILPIN',
 'GRAND',
 'GUNNISON',
 'HUERFANO',
 'JACKSON',
 'JEFFERSON',
 'KIT CARSON',
 'LA PLATA',
 'LAKE',
 'LARIMER',
 'LAS ANIMAS',
 'LINCOLN',
 'LOGAN',
 'Larimer',
 'MESA',
 'MINERAL',
 'MOFFAT',
 'MONTEZUMA',
 'MONTROSE',
 'MORGAN',
 'OTERO',
 'PARK',
 'PITKIN',
 'PUEBLO',
 'RIO BLANCO',
 'ROUTT',
 'SAGUACHE',
 'SAN MIGUEL',
 'SEDGWICK',
 'SUMMIT',
 'TELLER',
 'WASHINGTON',
 'WELD',
 'YUMA']

In [50]:
df_county_list.drop(['nan', 'douglas', 'arapahoe'])

AttributeError: 'list' object has no attribute 'drop'

In [42]:
df_county_list.sort()

In [43]:
i=0
for x in df_county_list:
    x = df_county_list[i]
    print(f"{x}_total_accounts = county_total_accounts('{x}'),")
    i+=1

ADAMS_total_accounts = county_total_accounts('ADAMS'),
ARAPAHOE_total_accounts = county_total_accounts('ARAPAHOE'),
Adams_total_accounts = county_total_accounts('Adams'),
Alamosa_total_accounts = county_total_accounts('Alamosa'),
BENT_total_accounts = county_total_accounts('BENT'),
BOULDER_total_accounts = county_total_accounts('BOULDER'),
BROOMFIELD_total_accounts = county_total_accounts('BROOMFIELD'),
CHAFFEE_total_accounts = county_total_accounts('CHAFFEE'),
CLEAR CREEK_total_accounts = county_total_accounts('CLEAR CREEK'),
CONEJOS_total_accounts = county_total_accounts('CONEJOS'),
CUSTER_total_accounts = county_total_accounts('CUSTER'),
DELTA_total_accounts = county_total_accounts('DELTA'),
DENVER_total_accounts = county_total_accounts('DENVER'),
DOUGLAS_total_accounts = county_total_accounts('DOUGLAS'),
EAGLE_total_accounts = county_total_accounts('EAGLE'),
EL PASO_total_accounts = county_total_accounts('EL PASO'),
ELBERT_total_accounts = county_total_accounts('ELBERT'),
Elbert_total_accounts = county_total_accounts('Elbert'),
FREMONT_total_accounts = county_total_accounts('FREMONT'),
GARFIELD_total_accounts = county_total_accounts('GARFIELD'),
GILPIN_total_accounts = county_total_accounts('GILPIN'),
GRAND_total_accounts = county_total_accounts('GRAND'),
GUNNISON_total_accounts = county_total_accounts('GUNNISON'),
HUERFANO_total_accounts = county_total_accounts('HUERFANO'),
JACKSON_total_accounts = county_total_accounts('JACKSON'),
JEFFERSON_total_accounts = county_total_accounts('JEFFERSON'),
KIT CARSON_total_accounts = county_total_accounts('KIT CARSON'),
LA PLATA_total_accounts = county_total_accounts('LA PLATA'),
LAKE_total_accounts = county_total_accounts('LAKE'),
LARIMER_total_accounts = county_total_accounts('LARIMER'),
LAS ANIMAS_total_accounts = county_total_accounts('LAS ANIMAS'),
LINCOLN_total_accounts = county_total_accounts('LINCOLN'),
LOGAN_total_accounts = county_total_accounts('LOGAN'),
Larimer_total_accounts = county_total_accounts('Larimer'),
MESA_total_accounts = county_total_accounts('MESA'),
MINERAL_total_accounts = county_total_accounts('MINERAL'),
MOFFAT_total_accounts = county_total_accounts('MOFFAT'),
MONTEZUMA_total_accounts = county_total_accounts('MONTEZUMA'),
MONTROSE_total_accounts = county_total_accounts('MONTROSE'),
MORGAN_total_accounts = county_total_accounts('MORGAN'),
OTERO_total_accounts = county_total_accounts('OTERO'),
PARK_total_accounts = county_total_accounts('PARK'),
PITKIN_total_accounts = county_total_accounts('PITKIN'),
PUEBLO_total_accounts = county_total_accounts('PUEBLO'),
RIO BLANCO_total_accounts = county_total_accounts('RIO BLANCO'),
ROUTT_total_accounts = county_total_accounts('ROUTT'),
SAGUACHE_total_accounts = county_total_accounts('SAGUACHE'),
SAN MIGUEL_total_accounts = county_total_accounts('SAN MIGUEL'),
SEDGWICK_total_accounts = county_total_accounts('SEDGWICK'),
SUMMIT_total_accounts = county_total_accounts('SUMMIT'),
TELLER_total_accounts = county_total_accounts('TELLER'),
WASHINGTON_total_accounts = county_total_accounts('WASHINGTON'),
WELD_total_accounts = county_total_accounts('WELD'),
YUMA_total_accounts = county_total_accounts('YUMA'),